/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
    border: 3px solid steelblue;
    box-shadow: 0 .625em 1.25em .625em black;
}


/* the styles for the header */
header {
    background-image: -webkit-linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    background-image: -moz-linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    background-image: -o-linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    background-image: linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    padding: .9375em 3.333%; /*15 divide by 16 equals .9375*/
    border-bottom: 3px solid steelblue; 
} 
header img { 
	float: left; 
    max-width: 140px;
    min-width: 70px;
} 
header h2 {
	font-size: 250%;
	font-style: italic;
	color: steelblue;
	text-indent: 3.33%;
}

header h3{
	font-size: 150%;
    text-indent: 3.33%;      
}

/* styles for the navigation menu */
#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu ul li {
    float: left;
    width: 20%;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: steelblue;
    color: white;
    font-weight: bold;
}

#nav_menu .current {
    color: black;
}
/* styles for subnav menu */
#nav_menu ul ul {
    display: none;
    position: absolute;
    width: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#nav_menu ul li a:focus, #nav_menu ul li a:hover {
    background-color: lightsteelblue;
}

.shadow {
    text-shadow: 3px 2px 3px steelblue;
}

/* the styles for the main h1 */
section h1 {
    font-size: 150%;
}

/* the styles for the main h2 */
section h2 {
    font-size: 130%;
}

/* the styles for the main h3 */
section h3 {
    color: maroon;
    font-size: 110%;
    margin-bottom: .4em;
}

/* the styles for the section */
section {
    width: 62.777%;
    float: right;
    padding: 1.5625em 3.333%;
    /*padding: 25px 30px;*/
}

section a:link, a:visited { 
    color: maroon;
}
section a:focus, a:hover {
    color: steelblue;
}

/* the styles for the left sidebar */
aside {
    float: left;
    width: 27.2222%;
    padding: 1.5625em 0 0 3.3333%;
}
aside h2 {
	font-size: 130%;    
	color: maroon;
    margin-bottom: .5em;
}

aside a:link, a:visited { 
    color: steelblue;
    font-weight: bold;
}
aside a:focus a:hover {
    color: maroon;
}

aside ul {
    line-height: 1.4em;
    margin: 0;
    padding-left: 6.5%;
}

aside ul li a {
    text-decoration: none;
}

/* the styles for the footer */
footer { 
	background-color: steelblue;
    border-top: .187em solid steelblue;
    border-bottom: .187em solid steelblue;
    clear: both;
} 
footer p {
	text-align: center;
    font-size: 85%;
    color: white;    
}

#mobile_menu {display: none;}

@media only screen and (max-width: 900px) {
    body {font-size: 90%;
        box-shadow: none;}
}

@media only screen and (max-width: 767px) {
    header img {max-width: 100px;}
    header h2 {font-size: 200%;}
    section, aside {float: none;
        width: 95%}
    aside {padding-right: 2.5%}
    
    /*hide nav menu*/
    #nav_menu { display: none;}
    
    /*display mobile menu*/
    #mobile_menu {display: block;}
    
    /*format the mobile menu*/
    .slicknav_btn {background-color: steelblue !important;}
    #mobile_menu ul li a {
        background-color: steelblue;
    }
    #mobile_menu a:focus, #mobile_menu a:hover {
        background-color: lightsteelblue;
    }
    .slicknav_menu {background-color: steelblue !important;
    padding: 3px;}
    
}
@media only screen and (max-width: 479px) {
        header h2 {font-size: 200%;}
        header h3 {font-size: 100%;}
        section p {font-size: 85%;}
    }